extends layout

block content
  h1= title 

  table
    tr
      th Nimi
      th Alles
      th Hind
      if user.isManager()  
        th T채itepaki suurus
        th M체체dud
        th Teenitud
      th Valikud

    each drink in drinks
        tr
          td= drink.name
          if drink.stock > 0 || user.isManager()
            td(id = `${drink.id}_drinkStock`)= drink.stock
            td= drink.price
            if user.isManager()
              td(id = `${drink.id}_drinkFill`)= drink.fillSize
              td= drink.sold
              td= drink.price * drink.sold
            td
              if user.isManager()
                button(onclick=`addFillPack(${drink.id})`) T채ida
              else
                button(onclick=`buyDrink(${drink.id})`) Osta

          else 
            td(colspan="3") 
              font(color="red") Otsas